@import "catppuccin.scss";

* {
  all: unset; // Unsets everything so you can style everything from scratch
}

button:hover {
  background-color: $mantle;
}

.bar {
  font-family: $font;
  font-size: 16px;
  font-weight: 500;
  color: $subtext0;
  background-color: $base;
  padding: 10px 15px;
}

.component {
  border-radius: 4px;
  padding: 5px 15px;
  background-color: $mantle;
}

.icon {
  padding: 0px 10px 0px 15px;
  font-size: 20px;
  border-radius: 20px;
}

.workspaces {
  padding: 0 5px 0 15px;
}

.occupied-workspace {
  color: $mauve;
}

.text-blue{
  color: $blue;
}

.text-mauve {
  color: $mauve;
}

.text-green {
  color: $green;
}

.text-peach {
  color: $peach;
}
