@import "catppuccin.scss";

* {
  all: unset; // Unsets everything so you can style everything from scratch
}

.bar {
  font-family: $font;
  font-size: 16px;
  font-weight: 500;
  color: $subtext0;
  background-color: $base;
  padding: 10px 15px;
}

.component {
  border-radius: 4px;
  padding: 5px 15px;
  background-color: $mantle;
}

.icon {
  padding: 0px 10px 0px 15px;
  font-size: 20px;
  transition: color 0.5s ease-out;
}

.icon:hover {
  color: $blue;
}

.workspaces {
  padding: 0 5px 0 15px;
}

.occupied-workspace {
  color: $mauve;
}

.nix {
  color: $blue;
  &:hover {
    color: $sapphire;
  }
}

.mauve {
  color: $mauve;
}
